body {
    background-color: #f2f2f2;
    background-image: url(/static/images/brickBG.svg);
    
    font-family: Arial, sans-serif;
  }
.container {
max-width: 800px;
margin: 0 auto;
padding: 50px;
text-align: center;
}
h1 {
font-size: 36px;
margin-top: 0;
position: relative;
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}
p {
font-size: 18px;
margin-bottom: 20px;
}
a {
color: #007bff;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}





.icon {
display: block;
margin: 0 auto;
width: 100px;
height: 100px;
background-image: url(/static/images/brickBG.svg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
@keyframes shake {
0% {transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {transform: translateX(-5px);}
20%, 40%, 60%, 80% {transform: translateX(5px);}
100% {transform: translateX(0);}
}

