@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(/static/images/logImg.jpg);
    background-size: auto auto;
    min-height: 100vh;
}
.wrapper {
    
    display: flex;
    flex-flow: row wrap;
    
    text-align: center;
  
    cursor: url("/static/images/custom-cursor.png"), auto
  }
  .wrapper>*{
    margin: 10px;
    padding: 10px;
    flex: 1 100%;
    border-radius: 10px;
  } 
  
  .header{
    /* background: tomato; */
    /* max-height: 170px; */
    /* height: 120px;  120 orginal height */
    color: #FFFFFF;
    font-size: 7em;
    letter-spacing: -0.05em;
    text-shadow: 0 0 20px #FFFFFF;
    align-items: center;
    text-align: center;
  }
  
.main{
    
    /* background: deepskyblue; */
    height: 20em;
    align-items: center;
    font-size: 2em;
    color: #FFFFFF;
    letter-spacing: -0.05em;
    text-shadow: 0 0 20px #FFFFFF;
    text-align: center;
    display: flex;
    flex-flow: column;
   
  }
  .opacBox{
    display: flex;
    position: relative;
    /* min-height: 450px;
    width: 440; */
    width: 700px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;


  }


  .footer{
    /* background: #c33764; */
    
    height: 3em;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 5em;
    letter-spacing: -0.05em;
    text-shadow: 0 0 20px #FFFFFF;
    text-align: center;
    
  
  }
  
ul li {
	list-style: none;
	
}

ul li a.url {
	position: relative;
	display: block;
	width: 90px;
  margin: auto;
	height: 90px;
	text-align: center;
	line-height: 90px;
	background: #333;
	border-radius: 50%;
	font-size: 35px;
	color: #999;
	transition: .5s;
}
ul li a.url:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: .5s;
	transform: scale(.9);
	z-index: -1;
}
ul li:nth-child(1) a.url:before {
	background: #ffee10;
}
ul li:nth-child(2) a.url:before {
	background: #0097BC;
}
ul li:nth-child(3) a.url:before {
	background: #e50000;
}
ul li:nth-child(4) a.url:before {
	background: #00ff2a;
}
ul li a.url:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #ffee10;
}
ul li a.url:hover {
	color: #ffee10;
	box-shadow: 0 0 5px #ffee10;
	text-shadow: 0 0 5px #ffee10;
}
ul li:nth-child(2) a.url:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #0097BC;
}
ul li:nth-child(2) a.url:hover {
	color: #0097BC;
	box-shadow: 0 0 15px #0097BC;
	text-shadow: 0 0 5px #0097BC;
}
ul li:nth-child(3) a.url:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #e50000;
}
ul li:nth-child(3) a.url:hover {
	color: #e50000;
	box-shadow: 0 0 15px #e50000;
	text-shadow: 0 0 5px #e50000;
}
ul li:nth-child(4) a.url:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #00ff2a;
}
ul li:nth-child(4) a.url:hover {
	color: #00ff2a;
	box-shadow: 0 0 15px #00ff2a;
	text-shadow: 0 0 5px #00ff2a;
}


@font-face {
  font-family: Glober;
  src: url("fonts/Glober-Trial-Heavy.otf") format("opentype");
}


@media all and (min-width: 800px){
    .main{
      flex:3;
    }

    

    
    .main{
      order:2;
    }
  
    .footer{
      order: 4;
    }
  }
  
  
form input{
  background-color: transparent;
  background: transparent;

}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body {
  font-family: 'Ubuntu', sans-serif;
}

.btn-wrap {
  text-align: center;
  width: 200px;
  
}


.login-btn1 {
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  padding: 8px 50px;
  margin-bottom: 20px;
  border-radius: 0;
  border: 2px solid #7692A7;
  transition: all 0.5s cubic-bezier(0.5, 1.65, 0.37, 0.66);
}

.login-btn1:focus,
.login-btn1:hover,
.login-btn1:active {
  color: #fff;
}

.login-btn1:after {
  content: "\f054";
  font-family: FontAwesome;
  color: #7692A7;
  vertical-align: middle;
  margin-left: 10px;
  transition: all ease 0.5s;
}

.login-btn1:hover:after,
.login-btn1:active:after,
.login-btn1:focus:after {
  color: #fff;
}

.login-btn1 {
  position: relative;
}

.login-btn1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  background: #7692A7;
  transform: scaleX(0);
  transform-origin: left 0;
  transition: transform 0.5s cubic-bezier(0.5, 1.65, 0.37, 0.66);
}

.login-btn1:hover:before,
.login-btn1:focus:before {
  transform: scaleX(1);
}