@tailwind base;
@tailwind components;
@tailwind utilities;







body {
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #c33764, #1d2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #c33764, #1d2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  min-height: 100vh;
  
}


model-viewer {
  width: 800px;
  height: 600px;
}

/* 
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #0c0808;}

#customers tr:hover {background-color: #2c0a84;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #180e4f;
  color:  #006eff;
  
} */


.wrapper {
    
  display: flex;
  flex-flow: row wrap;
  
  text-align: center;

  cursor: url("/static/images/custom-cursor.png"), auto
}
.wrapper>*{
  margin: 10px;
  padding: 10px;
  flex: 1 100%;
  border-radius: 10px;
} 

.header{
  /* background: tomato; */
  /* max-height: 170px; */
  /* height: 120px;  120 orginal height */
  color: #FFFFFF;
  font-size: 7em;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #FFFFFF;
  align-items: center;
  text-align: center;
}

.footer{
  background: #c33764;

  height: 3em;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 5em;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #FFFFFF;
  text-align: center;
  

}
p.type{
  margin: 0;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem ;
  color: #E6B422;;
  text-shadow: 0 0 20px #E6B422;;
  letter-spacing: normal;

}

section.module {
  display: block;
  border: 1px solid #E6B422;;
  width: 250px;
  
  margin: 0 auto;
  margin-top: 50px;
  
  /* margin-left: 10em;
  margin-top: 3em; */
}
section.module figure {
  margin: 0;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
 }
section.module figure:hover figcaption {
  max-height: 100%; }
  section.module figure:hover figcaption strong{
    color: #E6B422;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s;
   }
section.module img {
  width: 100%;
  height: 100%;
 }
section.module figcaption {
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  transition: all 0.5s;
  max-height: 0.5rem;
 }
section.module figcaption strong{
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
 }
section.module figcaption strong {
  display: inline-block;
  padding: 0.3rem;
 }





 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
table {
  margin: auto;
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th, td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
  height: 60px;
}
tbody tr:hover {
  background-color: rgba(255,255,255,0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}



/* this is for the github footer url */

ul li {
	list-style: none;
	
}

ul li a.url {
	position: relative;
	display: block;
	width: 90px;
  margin: auto;
	height: 90px;
	text-align: center;
	line-height: 90px;
	background: #333;
	border-radius: 50%;
	font-size: 35px;
	color: #999;
	transition: .5s;
}
ul li a.url:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: .5s;
	transform: scale(.9);
	z-index: -1;
}
ul li:nth-child(1) a.url:before {
	background: #ffee10;
}
ul li:nth-child(2) a.url:before {
	background: #0097BC;
}
ul li:nth-child(3) a.url:before {
	background: #e50000;
}
ul li:nth-child(4) a.url:before {
	background: #00ff2a;
}
ul li a.url:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #ffee10;
}
ul li a.url:hover {
	color: #ffee10;
	box-shadow: 0 0 5px #ffee10;
	text-shadow: 0 0 5px #ffee10;
}
ul li:nth-child(2) a.url:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #0097BC;
}
ul li:nth-child(2) a.url:hover {
	color: #0097BC;
	box-shadow: 0 0 15px #0097BC;
	text-shadow: 0 0 5px #0097BC;
}
ul li:nth-child(3) a.url:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #e50000;
}
ul li:nth-child(3) a.url:hover {
	color: #e50000;
	box-shadow: 0 0 15px #e50000;
	text-shadow: 0 0 5px #e50000;
}
ul li:nth-child(4) a.url:hover:before {
	transform: scale(1.1);
	box-shadow: 0 0 15px #00ff2a;
}
ul li:nth-child(4) a.url:hover {
	color: #00ff2a;
	box-shadow: 0 0 15px #00ff2a;
	text-shadow: 0 0 5px #00ff2a;
}










.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  
  width: 165px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  opacity: 1;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}















.main{
  
  /* background: deepskyblue; */
  height: 20em;
  align-items: center;
  font-size: 2em;
  color: #FFFFFF;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #FFFFFF;
  text-align: center;
 
}

.aside1{
  /* background: gold; */
  max-width: 60em;
  border-radius: 10px;
  border-style: solid;
  border-color: #0097BC;
  
}

.aside2{
  /* background: hotpink; */
}

@media all and (min-width: 800px){
  .main{
    flex:3;
  }
  .aside1{
    order:1;
  }
  .aside2{
    order:2;
  }
  .main{
    order:2;
  }

  .footer{
    order: 4;
  }

}

@media all and (min-width: 600px){
  .aside{
    flex:1;
  }

}


/* 
html, body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(45deg,#49a09d,#5f2c82);
  font-family: sans-serif;
  font-weight: 100;
} */


/* h1 {
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #fff;
}

p {
  font-size: 2em;
  margin: 0;
  text-shadow: 0 0 20px #fff;
} */


/* 
h1 {
  color: #E6B422;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #E6B422;
}

h2 {
  color: #FF5733;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #FF5733;
}

h3 {
  color: #C70039;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #C70039;
}

h4 {
  color: #00BFFF;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #00BFFF;
}

h5 {
  color: #FFFFFF;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #FFFFFF;
}
h6 {
  color: #E6B422;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #E6B422;
} */
