body {
  background-color: #03001C;
  color: #fff;
  font-family: Arial, sans-serif;
}

table, th, td {
  border:1px solid rgb(16, 221, 26);
  position: relative;
  
}
h1 {
 
  color: #FFFFFF;
  font-size: 10em;
  margin: 0;
  position: relative;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #FFFFFF;
  text-align: center;
  padding-bottom: 7em;
  padding-left: 5em;

  
}

p.main {
  font-size: 2em;
  color: #E6B422;
  
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #E6B422;
  text-align: center;
  padding-top: 4em;
  text-overflow: ellipsis
  
  
}


div.boxMain{
  
  
  font-size: 2em;
  color: #E6B422;
  width: 26em;
  height: 11em;
  position: relative;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #E6B422;
  text-align: center;
  right: 28%;
  
  
  
  /* padding-right: 5em; */

  

}


.atom-container {
  display: flex;
  flex-direction: column;
  
  /* justify-content: center;
  align-items: center; */
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
}

h1 {
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #fff;
}

p {
  font-size: 2em;
  margin: 0;
  text-shadow: 0 0 20px #fff;
}


.atom {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
  animation: atom-rotation 10s linear infinite;
  position: relative;
  transform-style: preserve-3d; /* enable 3D transforms */
  perspective: 800px; /* add perspective */
}

.nucleus {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #301E67;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transform-style: preserve-3d; /* enable 3D transforms */
}

.electron {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00FFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg); /* add initial rotation transforms */
  transform: translate(-50%, -50%);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  transform-style: preserve-3d; /* enable 3D transforms */
}

.electron-6 {
  animation-name: electron-6-rotation;
  animation-duration: 4.5s;
  border: 1px solid #5B8FB9;
}

.ring-6 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px dashed #f9f9f9;
  border-radius: 50%;
  box-sizing: border-box;
}

@keyframes atom-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes electron-6-rotation {
  0% {
    transform: rotate(0deg) translate(70px) rotate(0deg);
    opacity: 1;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  }
  50% {
    transform: rotate(180deg) translate(70px) rotate(180deg);
    opacity: 0.5;
    box-shadow: none;
  }
  100% {
    transform: rotate(360deg) translate(70px) rotate(360deg);
    opacity: 1;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  }
}

/* 
h1 {
  color: #E6B422;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #E6B422;
}

h2 {
  color: #FF5733;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #FF5733;
}

h3 {
  color: #C70039;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #C70039;
}

h4 {
  color: #00BFFF;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #00BFFF;
}

h5 {
  color: #FFFFFF;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #FFFFFF;
}
h6 {
  color: #E6B422;
  font-size: 12em;
  margin: 0;
  letter-spacing: -0.05em;
  text-shadow: 0 0 20px #E6B422;
} */
