<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/tailcss/elements/element_o.css">
    {# <link rel="stylesheet" type="text/css" href="/static/css/elements/element.css"> #}
    <link rel="stylesheet" type="text/css" href="/static/css/scroll2.css">
    
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>

        .cursor {
            margin: 0;
            padding:0;
            position: fixed;
            width: 40px;
            height: 40px;
            z-index: 2;
            border-radius: 50%;
            border: 2px solid #eee;
            left: 0;
            transform: translate(-50%, -50%);
            pointer-events: none;
            transition: width 1000ms, height 1000ms;
        
        }
        
        .cursor.large{
            margin: 0;
            padding:0;
            height: 70px;
            width: 70px;
        }



    </style>
  </head>


<body>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
   <div class="wrapper">

  
    <div class="cursor"></div>
    <header class="header align-text-top">
       {{ title }}
       <nav>
        <ul>
          <li>
            <a href="/" > Go to home </a>
          </li>
    
        </ul>
      </nav>
      
    </header>

    <article class="main">
        {{ summary }}
        <section class="module">
          <figure>
            <a href="#">
              <img src="{{ image_url }}"/>
            </a>
            <figcaption>
              <strong>Caption</strong>
              <p class="type"> {{ image_t }} </p>
            </figcaption>
          </figure>
        </section>
            
        
    </article>
    <aside class="aside aside1">
        <model-viewer alt="There is no 3d model for this element" src="{{ model }}"  shadow-intensity="1" camera-controls touch-action="pan-y" autoplay ar ar-modes="webxr scene-viewer" ></model-viewer>
        {# <div class="atom-container">
            <div class="atom">
            <div class="nucleus"></div>
                <div class="electron electron-1"></div>
        </div> #}
    </aside>
    <aside class="aside aside2">
      
  <table>
    <thead>
      <tr>
        <th>{{ title }}</th>
    
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="popup ease-out transform hover" onclick="togglePopup('atoM')">Atomic Mass
            <span class="popuptext" id="atoM">
            Amount of matter contained in an atom of an element.</span>
          </div>
        </td>
        <td>{{ atomic_mass }}</td>
    
      </tr>
      <tr>
        <td>
          <div class="popup" onclick="togglePopup('app')">Appearance
            <span class="popuptext" id="app">
            A general description of how the element "looks" like.</span>
          </div>
        </td>
        <td>{{ appearance }}</td>
        
      </tr>
      <tr>
        <td>
          <div class="popup" onclick="togglePopup('boil')">Boiling Point
            <span class="popuptext" id="boil">
            The boiling point of an element is the temperature at which it changes from a liquid to a gas.</span>
          </div>
        </td>
        <td>{{ boil }}</td>
        
      </tr>
      <tr>
        <td>
          <div class="popup" onclick="togglePopup('cata')">Catagory
            <span class="popuptext" id="cata">
              Element category refers to the group of elements sharing similar properties and behaviors based on their electronic structure and position in the periodic table.</span>
          </div>
        </td>
        <td>{{ category }}</td>
        
      </tr>
      <tr>
        <td>
          <div class="popup" onclick="togglePopup('dense')">Density
            <span class="popuptext" id="dense">
            Density is a measure of how tightly packed the atoms in a substance are, which affects how heavy an object is for its size.</span>
          </div>
        </td>
        <td>{{ density }}</td>
        
      </tr>
      <tr>
        <td>
          <div class="popup" onclick="togglePopup('disc')">Discovered By
            <span class="popuptext" id="disc">
            Who first discovered this element.</span>
          </div>
        </td>
        <td>{{ discovered_by }}</td>
        
      </tr>
      <tr>
        <td>
          <div class="popup" onclick="togglePopup('melt')">Melting Point
            <span class="popuptext" id="melt">
            The melting point of an element is the temperature at which it changes from a solid to a liquid.</span>
          </div>
        </td>
        <td>{{ melt }}</td>
      
      </tr>
      <tr>
        <td>
          <div class="popup" onclick="togglePopup('mole')">Molar Heat
            <span class="popuptext" id="mole">
            Molar heat is a measure of how much heat energy is needed to change the temperature of a specific amount of a substance.</span>
          </div>
        </td>
        <td>{{ molar_heat }}</td>
        
      </tr>
      <tr>
        <td>
          <div class="popup" onclick="togglePopup('name')">Named By
            <span class="popuptext" id="name">
              Who named the element.
           </span>
          </div>
        </td>
        <td>{{ named_by }}</td>
      
      </tr>
    </tbody>
    </table>
 
    </aside>
    <footer class="footer mb-auto">
      
      <ul>
        <li>
          <a class="url" target="_blank" href="https://github.com/DragonRoyal/Periodic-Table"><i class="fa fa-github"></i></a>
        </li>

      </ul>

    </footer>
   
   <script src="/static/javascript/scroll.js"></script>
   <script>
    // When the user clicks on div, open the popup
    function togglePopup(id) {
      
      var popup = document.getElementById(String(id));
      popup.classList.toggle("show");
    
      // Hide the popup after 5 seconds
      setTimeout(function() {
        popup.classList.remove("show");
      }, 8000);
    }
    </script>





</body>