<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/elements/element.css">
    <link rel="stylesheet" type="text/css" href="/static/css/scroll2.css">
    <style>

        .cursor {
            margin: 0;
            padding:0;
            position: fixed;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #eee;
            left: 0;
            transform: translate(-50%, -50%);
            pointer-events: none;
            transition: width 1000ms, height 1000ms;
        
        }
        
        .cursor.large{
            margin: 0;
            padding:0;
            height: 70px;
            width: 70px;
        }



    </style>
  </head>


<body>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
   <div class="wrapper">
    <div class="cursor"></div>
    <header class="header"> {{ title }}</header>

    <article class="main">
        {{ summary | trim }}
        <section class="module">
          <figure>
            <a href="#">
              <img src="{{ image_url }}"/>
            </a>
            <figcaption>
              <strong>Caption</strong>
              <p class="type"> {{ image_t }} </p>
            </figcaption>
          </figure>
        </section>
            
        
    </article>
    <aside class="aside aside1">
        <model-viewer alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum" src="{{ model }}"  shadow-intensity="1" camera-controls touch-action="pan-y" autoplay ar ar-modes="webxr scene-viewer" ></model-viewer>
        {# <div class="atom-container">
            <div class="atom">
            <div class="nucleus"></div>
                <div class="electron electron-1"></div>
        </div> #}
    </aside>
    <aside class="aside aside2">
        
<table id="customers">
    <tr>
      <th>{{ title }}</th>
  
    </tr>
    <tr>
      <td>Atomic Mass</td>
      <td>{{ atomic_mass }}</td>
   
    </tr>
    <tr>
      <td>Appearance</td>
      <td>{{ appearance }}</td>
      
    </tr>
    <tr>
      <td>Boiling Point</td>
      <td>{{ boil }}</td>
      
    </tr>
    <tr>
      <td>Catagory</td>
      <td>{{ category }}</td>
      
    </tr>
    <tr>
      <td>Density</td>
      <td>{{ density }}</td>
      
    </tr>
    <tr>
      <td>Discovered By</td>
      <td>{{ discovered_by }}</td>
      
    </tr>
    <tr>
      <td>Melting Points</td>
      <td>{{ melt }}</td>
     
    </tr>
    <tr>
      <td>Molar Heat</td>
      <td>{{ molar_heat }}</td>
      
    </tr>
    <tr>
      <td>Named By</td>
      <td>{{ named_by }}</td>
      
    </tr>
  
  </table>
  
    </aside>
    <footer class="footer">
      im just there
    </footer>
   </div> 
   <script src="/static/javascript/scroll.js"></script>
   





</body>